header{
    background-color: #FFF8F3;  
    height: 837px;
    display: grid;
    padding-top: 0px;
    
}
.shuvotec{
    font-size: 45px;
}
.menu-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.shuvotec span{
    color: #FD6E0A;
}
.menu-a{ 
    display: inline-flex;
    align-items: center;
}
.menu-a a{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    padding-right: 15%;
    color: black;
}
.ist-btn{
    font-size: 25px;
    font-weight: 500;
    padding: 7%;
    background-color: #FD6E0A;
    border:0px;
    color: white;
    cursor: pointer;
    border-radius: 5%;

}
